MainWindow {
    background-color: #354345;
}

QPushButton {
    background-color: #F0A202;
    border-radius: 14px;
    font: 14px Rubik;
    padding: 5px;
    border: 2px solid #F0A202;
}

QPushButton:hover {
    border: 1px solid #F4F4F6;
}

QPushButton:pressed {
    border: 2px solid #F4F4F6;
}

QPushButton:focus {
    outline: none;
}

QComboBox {
    color: #F4F4F6;
    font: 14px Rubik;
    padding: 5px;
    background-color: #354345;
    border: 1px solid #F4F4F6;
}

QComboBox QListView::item {
    color: #F4F4F6;
    font: 14px Rubik;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #343a40;
}

QComboBox QListView::item:selected:!active {
    background-color: #1c1e23;
}

QComboBox QListView::item:selected:active {
    background-color: #1c1e23;
}

QComboBox QListView::item:hover {
    background-color: #52575c;
}

QComboBox QAbstractItemView {
    outline: none;
}

QPushButton:disabled {
    background-color: #5e5742;
}

QLineEdit {
    background-color: #E6E6E9;
    border: 2px solid #F0A202;
    border-radius: 14px;
    font: 14px Rubik;
    padding: 5px;
}

QLineEdit:focus {
    border: 3px solid #F0A202;
}

QLabel {
    color: #F4F4F6;
    font: 14px Rubik;
}

TitleBar {

}

LoginPage {
    margin: 30%;
}

ErrorLabel {
    color: #FF0000;
    font: 12px Rubik;
    padding: 5px;
}

ClickableLabel {
    text-decoration: underline;
    color: #006E90;
    font: 13px Rubik;
}

Title {
    color: #F4F4F6;
    font: 30px Rubik;
}

Button {
    color: #F4F4F6;
    font: 14px Rubik;
    padding: 5px;
    background-color: #354345;
    border: 2px solid #354345;
    border-radius: 0px;
}

QMenu {
    color: #F4F4F6;
    font: 14px Rubik;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #343a40;
}
QMenu::item {

}
QMenu::item:selected {
    background-color: #52575c;
}
QMenu::item:pressed {
    background-color: #1c1e23;
}

TopBar {
    background-color: #354345;
    border-bottom: 2px solid #006E90;
}

QMessageBox {
    background-color: #333343;
}

QListWidget {
    background-color: #354345;
    outline: none;
}

QListWidget::item:hover {
    background-color: #53696a;
}

QListWidget::item:selected {
    background-color: #506466;
}

QTreeWidget {
    background-color: #354345;
}

QTreeWidget::item {
    color: #F4F4F6;
    font: 14px Rubik;
}

QTreeWidget::item:hover {
    background-color: #53696a;
}

QTreeWidget::item:selected {
    background-color: #506466;
}

QTreeWidget QHeaderView::section {
    background-color: #354345;
    color: #F4F4F6;
}

QInputDialog {
    background-color: #354345;
}

QTextBrowser {
    background-color: #354345;
    color: #F4F4F6;
    font: 14px Rubik;
}
